/*.no-padding {
  padding: 0;
}
*/
/*
Responsive textarea
*/
textarea {
   width: 100%;
}

/*
Responsive SVG
*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-container.neural-net {
    padding-bottom: 60%; /* aspect ratio */
}
.svg-container.heatmap {
    padding-bottom: 70%; /* aspect ratio */
}
.svg-container.scatterplot {
    padding-bottom: 70%; /* aspect ratio */
}
.svg-container.tree {
    padding-bottom: 90%; /* aspect ratio */
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.hoverclass {
    opacity: .5;
}


/*
For Tree
*/

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.nodeinuse {
    fill: steelblue;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}