/*.no-padding {
  padding: 0;
}
*/
/*
Responsive textarea
*/
textarea {
   width: 100%;
}

/*
Responsive SVG
*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-container.neural-net {
    padding-bottom: 60%; /* aspect ratio */
}
.svg-container.heatmap {
    padding-bottom: 70%; /* aspect ratio */
}
.svg-container.scatterplot {
    padding-bottom: 70%; /* aspect ratio */
}
.svg-container.tree {
    /*padding-bottom: 125%; /* aspect ratio */
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.hoverclass {
    opacity: .5;
}


/*
For Old Tree
*/

/*
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
*/

/*
For New Tree
*/

/*
.node circle {
  fill: lightgrey;
  stroke: grey;
  stroke-width: 2;
}
*/

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: lightgrey;
  stroke: grey;
  stroke-width: 2;
}

/*
.nodeinuse {
    fill: steelblue;
}

.node--leaf circle {
  fill: lightgrey;
}
*/

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 2px;
}

/* Neural net */

